@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color:inherit;
}

body{
  font-family: "Lato" , sans-serif;
  /* overflow: hidden; */
}

.non-active{
  @apply w-20 h-10 bg-white border-2 flex items-center px-2
}

.active{
  @apply w-20 h-10 bg-black border-2 flex items-center px-2 text-white
}

.overflowscroll{

  @apply overflow-y-scroll;
}

